In [1]:
import pandas as pd
import numpy as np
import re
from IPython.display import display, HTML, Image

import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.impute import SimpleImputer

import warnings
warnings.filterwarnings("ignore")

sns.set_style("darkgrid")

In [2]:
df = pd.read_csv('cleandata.csv')

In [3]:
df
bestbuy_df1 = df[df.Category_name == 'tv, television, led']

In [4]:
bestbuy_df1.isna().sum()

id                       0
Actual_price             0
Discount_price           0
Product_availability    23
Condition               64
Currency                 0
Country                  0
isSale                   0
merchant                 0
brand                    0
Description              0
Category_name            0
primaryCategories        0
name                     0
weight_in_kg             0
Impression               0
Day                      0
Month                    0
Year                     0
Week                     0
Month_Name               0
Day_Name                 0
Formatted_date           0
Disc_Per                 0
Total_sale               0
dtype: int64

In [152]:
bestbuy_df = df[df['merchant'] == 'Other']
bestbuy_df = bestbuy_df[bestbuy_df.Category_name == 'tv, television, led']
b1=bestbuy_df[bestbuy_df.name == 'Details About Samsung 24 Class Hd (720p) Smart Led Tv (un24m4500)"']

In [153]:
b1.dropna()

,id,Actual_price,Discount_price,Product_availability,Condition,Currency,Country,isSale,merchant,brand,...,Impression,Day,Month,Year,Week,Month_Name,Day_Name,Formatted_date,Disc_Per,Total_sale
348,AV4GSgsz-jtxr-f3_a37,229.00,229.00,Yes,New,USD,USA,False,Other,Samsung,...,1,7,12,2017,49,December,Thursday,2017-12-07,0.0,229.00
351,AV4GSgsz-jtxr-f3_a37,184.99,184.99,Yes,New,USD,USA,False,Other,Samsung,...,1,21,1,2018,3,January,Sunday,2018-01-21,0.0,184.99
353,AV4GSgsz-jtxr-f3_a37,106.99,106.99,Yes,Refurbished,USD,USA,False,Other,Samsung,...,1,31,5,2018,22,May,Thursday,2018-05-31,0.0,106.99
354,AV4GSgsz-jtxr-f3_a37,199.00,199.00,Yes,New,USD,USA,False,Other,Samsung,...,2,28,10,2017,43,October,Saturday,2017-10-28,0.0,398.00
355,AV4GSgsz-jtxr-f3_a37,219.00,219.00,Yes,New,USD,USA,False,Other,Samsung,...,1,7,12,2017,49,December,Thursday,2017-12-07,0.0,219.00
357,AV4GSgsz-jtxr-f3_a37,174.99,174.99,Yes,New,USD,USA,False,Other,Samsung,...,1,9,11,2017,45,November,Thursday,2017-11-09,0.0,174.99
359,AV4GSgsz-jtxr-f3_a37,179.99,179.99,Yes,New,USD,USA,False,Other,Samsung,...,5,21,1,2018,3,January,Sunday,2018-01-21,0.0,899.95
360,AV4GSgsz-jtxr-f3_a37,96.60,96.60,Yes,Refurbished,USD,USA,False,Other,Samsung,...,1,10,6,2018,23,June,Sunday,2018-06-10,0.0,96.60
362,AV4GSgsz-jtxr-f3_a37,189.00,189.00,Yes,New,USD,USA,False,Other,Samsung,...,1,21,1,2018,3,January,Sunday,2018-01-21,0.0,189.00

In [154]:
bestbuy_df['name'].unique()

array(['Samsung - 50 Class (49.5" Diag.) - LED - 1080p - Smart - HDTV"',
       'Details About Samsung 24 Class Hd (720p) Smart Led Tv (un24m4500)"',
       'Hisense 50H4D Roku 50-inch HD Smart DLED TV',
       'Samsung - 49 Class - LED - Q6F Series - 2160p - Smart - 4K UHD TV with HDR"',
       'Samsung - 40 Class (39.5" Diag.) - LED - 1080p - Smart - HDTV"',
       'Samsung - 49 Class - LED - MU6290 Series - 2160p - Smart - 4K Ultra HD TV with HDR"',
       'MU8000-Series 65-Class HDR UHD Smart LED TV',
       'Samsung - 32 Class (31.5" Diag.) - LED - 720p - Smart - HDTV"',
       'LG - 28 Class (27.5" Diag.) - LED - 720p - HDTV"',
       'J5202-Series 43-Class Full HD Smart LED TV',
       'XBR-X850E-Series 75-Class HDR UHD Smart LED TV',
       'Details About Sony Kd70x690e 70inch 4k Ultra Hd Smart Led Tv (2017 Model)',
       'X900F-Series 55-Class HDR UHD Smart LED TV',
       'SAMSUNG 65 Class 4K (2160P) Ultra HD Smart QLED HDR TV QN65Q6FNAFXZA (2018 Model)"',
       'Samsung - 49 Class (48.5" Diag.) - LED - 1080p - Smart - HDTV"',
       'Refurbished TCL 49 Class 4K (2160P) Roku Smart LED TV (49S405)"',
       'Samsung - 55 Class - LED - Curved - MU6490 Series - 2160p - Smart - 4K Ultra HD TV with HDR"',
       'Samsung - 55 Class - LED - Curved - Q7C Series - 2160p - Smart - 4K UHD TV with HDR"',
       'Samsung - 65 Class - LED - MU6290 Series - 2160p - Smart - 4K Ultra HD TV with HDR"',
       'Sony 43 Class 4K UHD (2160P) Smart LED TV (XBR43X800E)"',
       'W650D-Series 48-Class Full HD Smart LED TV',
       'Samsung - 65 Class - LED - Curved - MU7500 Series - 2160p - Smart - 4K UHD TV with HDR"',
       'Details About Samsung Electronics Un49mu8000 49inch 4k (2160p) Uhd Led Lcd Internet Smart Tv',
       'VIZIO M-Series 70” SmartCast 2160p 4K XHDR Plus XLED Plus Display (M70-D3)',
       'Details About Lg 49uj6200 49inch 4k Uhd 4k 2160p Hdr Led Tm120 Smart Hdtv (no Stand)',
       'Sony - 55 Class - OLED - A8F Series - 2160p - Smart - 4K UHD TV with HDR"',
       'J5205 32-Class Full HD Smart LED TV',
       'Hisense 65 Class 4K(2160p) Smart LED TV (65H9PLUS)"',
       'SAMSUNG 40 Class FHD (1080P) Smart LED TV (UN40J5200AF)"',
       'Sony - 49 Class - LED - X900E Series - 2160p - Smart - 4K UHD TV with HDR"',
       'Details About Samsung 55 Class 4k (2160p) Smart Led Tv (un55mu7000fxza)"',
       'Samsung - 40 Class - LED - MU6290 Series - 2160p - Smart - 4K Ultra HD TV with HDR"',
       'Sony XBR-65A8F 65 BRAVIA OLED 4K HDR TV"',
       'VIZIO 39 Class FHD (1080P) Smart LED TV (D39f-E1)"',
       'Sony - 40 class (39.5" Diag.) - LED - 1080p - Smart - HDTV"',
       'Samsung - 40 Class - LED - MU7000 Series - 2160p - Smart - 4K UHD TV with HDR"',
       'Samsung 24 Class HD (720P) LED TV (UN24H4500)"'], dtype=object)

In [155]:
b1

,id,Actual_price,Discount_price,Product_availability,Condition,Currency,Country,isSale,merchant,brand,...,Impression,Day,Month,Year,Week,Month_Name,Day_Name,Formatted_date,Disc_Per,Total_sale
348,AV4GSgsz-jtxr-f3_a37,229.00,229.00,Yes,New,USD,USA,False,Other,Samsung,...,1,7,12,2017,49,December,Thursday,2017-12-07,0.0,229.00
351,AV4GSgsz-jtxr-f3_a37,184.99,184.99,Yes,New,USD,USA,False,Other,Samsung,...,1,21,1,2018,3,January,Sunday,2018-01-21,0.0,184.99
353,AV4GSgsz-jtxr-f3_a37,106.99,106.99,Yes,Refurbished,USD,USA,False,Other,Samsung,...,1,31,5,2018,22,May,Thursday,2018-05-31,0.0,106.99
354,AV4GSgsz-jtxr-f3_a37,199.00,199.00,Yes,New,USD,USA,False,Other,Samsung,...,2,28,10,2017,43,October,Saturday,2017-10-28,0.0,398.00
355,AV4GSgsz-jtxr-f3_a37,219.00,219.00,Yes,New,USD,USA,False,Other,Samsung,...,1,7,12,2017,49,December,Thursday,2017-12-07,0.0,219.00
357,AV4GSgsz-jtxr-f3_a37,174.99,174.99,Yes,New,USD,USA,False,Other,Samsung,...,1,9,11,2017,45,November,Thursday,2017-11-09,0.0,174.99
359,AV4GSgsz-jtxr-f3_a37,179.99,179.99,Yes,New,USD,USA,False,Other,Samsung,...,5,21,1,2018,3,January,Sunday,2018-01-21,0.0,899.95
360,AV4GSgsz-jtxr-f3_a37,96.60,96.60,Yes,Refurbished,USD,USA,False,Other,Samsung,...,1,10,6,2018,23,June,Sunday,2018-06-10,0.0,96.60
362,AV4GSgsz-jtxr-f3_a37,189.00,189.00,Yes,New,USD,USA,False,Other,Samsung,...,1,21,1,2018,3,January,Sunday,2018-01-21,0.0,189.00

In [132]:
x=b1['Impression'].astype(int)
y=b1['Discount_price'].astype(float)

In [133]:
b1

,id,Actual_price,Discount_price,Product_availability,Condition,Currency,Country,isSale,merchant,brand,...,Impression,Day,Month,Year,Week,Month_Name,Day_Name,Formatted_date,Disc_Per,Total_sale
4477,AWIm6-ZpIwln0LfXkBQX,1498.0,1498.0,Yes,New,USD,USA,False,Other,Sony,...,1,26,4,2018,17,April,Thursday,2018-04-26,0.0,1498.0
4478,AWIm6-ZpIwln0LfXkBQX,1298.0,1298.0,Yes,New,USD,USA,False,Other,Sony,...,1,27,5,2018,21,May,Sunday,2018-05-27,0.0,1298.0

In [134]:
d=x.values
p=y.values

In [156]:
b1['logarithm_price'] = np.log2(b1['Discount_price'])
b1['logarithm_demand']=np.log2(b1['Impression'])

In [157]:
b1

,id,Actual_price,Discount_price,Product_availability,Condition,Currency,Country,isSale,merchant,brand,...,Month,Year,Week,Month_Name,Day_Name,Formatted_date,Disc_Per,Total_sale,logarithm_price,logarithm_demand
348,AV4GSgsz-jtxr-f3_a37,229.00,229.00,Yes,New,USD,USA,False,Other,Samsung,...,12,2017,49,December,Thursday,2017-12-07,0.0,229.00,7.839204,0.000000
351,AV4GSgsz-jtxr-f3_a37,184.99,184.99,Yes,New,USD,USA,False,Other,Samsung,...,1,2018,3,January,Sunday,2018-01-21,0.0,184.99,7.531303,0.000000
353,AV4GSgsz-jtxr-f3_a37,106.99,106.99,Yes,Refurbished,USD,USA,False,Other,Samsung,...,5,2018,22,May,Thursday,2018-05-31,0.0,106.99,6.741332,0.000000
354,AV4GSgsz-jtxr-f3_a37,199.00,199.00,Yes,New,USD,USA,False,Other,Samsung,...,10,2017,43,October,Saturday,2017-10-28,0.0,398.00,7.636625,1.000000
355,AV4GSgsz-jtxr-f3_a37,219.00,219.00,Yes,New,USD,USA,False,Other,Samsung,...,12,2017,49,December,Thursday,2017-12-07,0.0,219.00,7.774787,0.000000
357,AV4GSgsz-jtxr-f3_a37,174.99,174.99,Yes,New,USD,USA,False,Other,Samsung,...,11,2017,45,November,Thursday,2017-11-09,0.0,174.99,7.451129,0.000000
359,AV4GSgsz-jtxr-f3_a37,179.99,179.99,Yes,New,USD,USA,False,Other,Samsung,...,1,2018,3,January,Sunday,2018-01-21,0.0,899.95,7.491773,2.321928
360,AV4GSgsz-jtxr-f3_a37,96.60,96.60,Yes,Refurbished,USD,USA,False,Other,Samsung,...,6,2018,23,June,Sunday,2018-06-10,0.0,96.60,6.593951,0.000000
362,AV4GSgsz-jtxr-f3_a37,189.00,189.00,Yes,New,USD,USA,False,Other,Samsung,...,1,2018,3,January,Sunday,2018-01-21,0.0,189.00,7.562242,0.000000

In [158]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
p_trans=scaler.fit_transform(p.reshape(-1, 1))
d_trans=(scaler.fit_transform(d.reshape(-1, 1)))

In [102]:
b1['price_scaled']=p_trans

In [103]:
b1['demand_scaled']=d_trans

In [167]:
b1["% Change in Demand"] = b1['Impression'].pct_change()
b1["% Change in Price"] = b1['Discount_price'].pct_change()

In [163]:
b1["Price Elasticity"] = b1["% Change in Demand"] / b1["% Change in Price"]
b1

,id,Actual_price,Discount_price,Product_availability,Condition,Currency,Country,isSale,merchant,brand,...,Month_Name,Day_Name,Formatted_date,Disc_Per,Total_sale,logarithm_price,logarithm_demand,% Change in Demand,% Change in Price,Price Elasticity
348,AV4GSgsz-jtxr-f3_a37,229.00,229.00,Yes,New,USD,USA,False,Other,Samsung,...,December,Thursday,2017-12-07,0.0,229.00,7.839204,0.000000,NaN,NaN,NaN
351,AV4GSgsz-jtxr-f3_a37,184.99,184.99,Yes,New,USD,USA,False,Other,Samsung,...,January,Sunday,2018-01-21,0.0,184.99,7.531303,0.000000,0.0,-0.192183,-0.000000
353,AV4GSgsz-jtxr-f3_a37,106.99,106.99,Yes,Refurbished,USD,USA,False,Other,Samsung,...,May,Thursday,2018-05-31,0.0,106.99,6.741332,0.000000,0.0,-0.421644,-0.000000
354,AV4GSgsz-jtxr-f3_a37,199.00,199.00,Yes,New,USD,USA,False,Other,Samsung,...,October,Saturday,2017-10-28,0.0,398.00,7.636625,1.000000,1.0,0.859987,1.162808
355,AV4GSgsz-jtxr-f3_a37,219.00,219.00,Yes,New,USD,USA,False,Other,Samsung,...,December,Thursday,2017-12-07,0.0,219.00,7.774787,0.000000,-0.5,0.100503,-4.975000
357,AV4GSgsz-jtxr-f3_a37,174.99,174.99,Yes,New,USD,USA,False,Other,Samsung,...,November,Thursday,2017-11-09,0.0,174.99,7.451129,0.000000,0.0,-0.200959,-0.000000
359,AV4GSgsz-jtxr-f3_a37,179.99,179.99,Yes,New,USD,USA,False,Other,Samsung,...,January,Sunday,2018-01-21,0.0,899.95,7.491773,2.321928,4.0,0.028573,139.992000
360,AV4GSgsz-jtxr-f3_a37,96.60,96.60,Yes,Refurbished,USD,USA,False,Other,Samsung,...,June,Sunday,2018-06-10,0.0,96.60,6.593951,0.000000,-0.8,-0.463304,1.726730
362,AV4GSgsz-jtxr-f3_a37,189.00,189.00,Yes,New,USD,USA,False,Other,Samsung,...,January,Sunday,2018-01-21,0.0,189.00,7.562242,0.000000,0.0,0.956522,0.000000

In [166]:
(b1['Impression'])

348    1
351    1
353    1
354    2
355    1
357    1
359    5
360    1
362    1
Name: Impression, dtype: int64

In [168]:
(b1['Discount_price'])

348    229.00
351    184.99
353    106.99
354    199.00
355    219.00
357    174.99
359    179.99
360     96.60
362    189.00
Name: Discount_price, dtype: float64

In [112]:
b1['Formatted_date']

2473    2017-09-17
2478    2018-04-26
2479    2017-07-25
2488    2018-03-09
2489    2018-03-09
2491    2017-07-11
Name: Formatted_date, dtype: object

In [169]:
b1['Price Elasticity'].mean()

17.23831727676396

In [164]:
b1['Price Elasticity'].sort_values(ascending=False)

359    139.992000
360      1.726730
354      1.162808
351     -0.000000
353     -0.000000
357     -0.000000
362      0.000000
355     -4.975000
348           NaN
Name: Price Elasticity, dtype: float64

In [140]:
b1['Price Elasticity'].isna().sum()

2